@CHARSET "UTF-8";

html, body {
	height: 100%;
	font-family: sans-serif;
	font-size: 90%;
}

body {
	margin: 0px;
	background: red;
}

a:link, a:visited, .submitLink {
	color: #8800BB;
	text-decoration: none;
	font-weight: bold;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

a:hover, a:active, .submitLink:hover {
	color: #DD11DD;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
}

table#masterTable {
	background: white;
	width: 100%;
	height: 100%;
}

table#masterTable > tbody > tr > th#masterHeader {
	background: #3388BB;
	height: 100px;
	vertical-align: middle;
	border-bottom: 1px solid #100f35;
}

table#masterTable > tbody > tr > td#masterFooter {
	border-top: 1px solid #100f35;
	background: #88CCFF;
	text-align: right;
}

td#masterContentMenu {
	background: #55AADD;
	border-right: 1px solid #100f35;
	width: 200px; 
	vertical-align: top;
	padding: 10px;
}

div.menuDiv2 {
	padding-left: 25px;
}

div.menuDiv3 {
	padding-left: 35px;
}

div.menuDiv1, div.menuDiv2, div.menuDiv3 {
	border-bottom: 1px dotted #fafafa;
}

div.menuDiv1:HOVER, div.menuDiv2:HOVER, div.menuDiv3:HOVER {
	background: #585874;
}

div.menuDiv1 a, div.menuDiv2 a, div.menuDiv3 a  {
	width: 100%;
	color: black;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	display: block;
	padding-top: 2px;
	padding-bottom: 2px;
}

table#masterTable > tbody > tr#masterContent {
	height: 100%;
}

td#masterContentPlaceholder {
	vertical-align: top;
	padding: 10px;
}

table.casesTable, table.notesTable {
	width: 100%;
	border-top: 1px solid black;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
}

table.casesTable th, table.notesTable th {
	text-align: right;
	vertical-align: top;
	padding: 5px 5px 5px 5px;
	border: 1px solid black;
}

table.casesTable th {
	width: 200px;
	background: #88DDFF;
}

table.notesTable th {
	width: 100px;
	background: #66CC88;
}

table.casesTable td, table.notesTable td {
	text-align: left;
	vertical-align: top;
	padding: 5px 5px 5px 5px;
	border-top: 1px solid black;
	border-left: 1px solid black;
};
